.img-full {
  display: block;
  width: 100%;
  height: auto;
}

img {
  border: none;
  border-style: none;
}

.icon,
.icon:before {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  line-height: 1.4;
  color: #2e2e2e;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}

.title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

/*============ Header ==============*/
header {
  background: #fff;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: 0.2s all;
  z-index: 999;
}

header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.container {
  max-width: 1700px !important;
  width: 100%;
  padding: 0 15px;
}

a {
  text-decoration: none !important;
}

header .header-left {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
}

header .header-left .nav {
  position: relative;
  margin-left: 25px;
}

header .header-left .nav .dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 13px 0 0;
  padding: 15px;
  transition: 0.2s all;
  cursor: pointer;
  border-radius: 50px;
}

header .header-left .btn-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: 500;
  margin: 0 0 0 25px;
  padding: 0 15px;
  background: #eff0f2;
  border-radius: 4px;
  transition: 0.2s all;
  cursor: pointer;
}

header .header-left .nav .dropdown i {
  font-size: 12px;
  margin: 0 0 -1px 10px;
}

header .header-right {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0 0 auto;
  order: 2;
}

.fa-magnifying-glass {
  font-weight: 600 !important;
}

header .header-right .login-group {
  display: flex;
  align-items: center;
}

header .header-right .login-group .link-signin {
  display: block;
  color: #020201;
  padding: 13px 20px;
  font-weight: 500;
  line-height: 1;
}

header .header-right .login-group .link-signin:hover {
  color: #ffb800;
}

header .header-right .login-group .link-signup {
  color: #fff;
  background: #ffb800;
  padding: 0 25px;
}

header .header-right .login-group .link-signup:hover,
.btn-save:hover {
  background: #c48d00;
}
.btn-cus {
  display: inline-block;
  color: #fff;
  background: #000;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  padding: 0 20px;
  margin: 0;
  border-radius: 30px;
  cursor: pointer;
}

header .header-right .user-login-block {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  margin-left: 15px;
}

.user-block {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

.user-block > a {
  display: flex;
  align-items: center;
  height: 100%;
}

.user-block > a i {
  color: #9b9b9b;
  margin-left: 8px;
  transition: 0.2s ease-in-out;
}

.custom-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

/*============ Course ==============*/
.create-course {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 90px);
  background-color: #e7e7e7;
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  color: #303030;
  /* justify-content: space-between; */
  padding: 3% 5% 3% 5%;
  overflow-y: auto;
}

.course-title {
  width: 100%;
  height: 60vh;
  /* margin: 5%; */
  /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
  display: block;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.course-body {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section-group {
  display: block;
  width: 100%;
}
.section-item {
  width: 100%;
  /* min-height: 10vh;
  max-height: 20vh; */
  /* margin: 5%; */
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.input-box {
  max-width: 100%;
  width: 100%;
  margin: 0 0 10px;
}
.input-box-haft {
  max-width: calc(30% - 10px);
  width: 100%;
  margin: 0 0 10px;
  padding: 5px;
  font-size: 14px;
}

.input-box label {
  color: #303030;
  width: 100%;
  font-weight: 700;
  line-height: 1.6;
}

.input-box textarea {
  border: none;
  border-radius: 15px;
  background-color: #e3e3e3;
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
}

.input-box textarea:focus {
  /* border-color: #FBD0BC !important; */
  border: 1px solid #fbd0bc !important;
  outline: none;
}

.input-box input[type="file"] {
  border: none;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  position: inherit;
  opacity: 1;
}

.input-box-group {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-box-haft label {
  color: #1f2430;
  font-weight: 500;
  line-height: 1.6;
  width: auto;
  padding-right: 5px;
}

.input-box-haft input[type="text"] {
  color: #1f2430;
  font-size: 14px;
  height: 20px;
  width: 60%;
}

.btn-save {
  border-radius: 20px;
  background-color: #ffb800;
  margin-left: 20px;
}

.submit-group {
  display: flex;
  align-items: center;
  text-align: end;
}
.btn-cancle {
  color: #020201;
  cursor: pointer;
}

.btn-cancle:hover {
  font-weight: 700;
}
/*============ Section ==============*/
.section-item .section-title {
  background-color: #ffb800;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-item .section-title div {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}
.section-item .section-title input[type="text"] {
  background-color: none;
  width: 90%;
  border-radius: 5px;
}

/*============ Lecture ==============*/
.lecture-table {
  padding-top: 5px;
}
.lecture-table .table-title,
.lecture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 5px 10px 5px 10px;
}

.lecture-table .table-title {
  font-weight: 700;
}
.lecture-table .lecture-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

.add-req label:hover,
.add-section:hover,
.add-lecture label:hover {
  color: #ffb800;
  font-weight: 700;
}

.lecture input[type="text"] {
  border: none;
}

.icon-down {
  transform: rotate(-180deg);
}

.course-resource {
  padding: 0 10px;
  color: #505050;
}

/*============ Requirement ==============*/
.req-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.req-item .input-req {
  width: 95%;
}

.req-item .input-req input[type="text"] {
  width: 95%;
}

.req-item .input-req i {
  color: #9e9ea6;
  font-size: 1em;
  cursor: pointer;
}

.req-item .remove_req {
  color: red;
  font-weight: 500;
  cursor: pointer;
  padding: 5px;
}

.req-item .remove_req:hover {
  font-weight: 700;
}

/*============ CourseList ==============*/
.category-banner {
  background: #fffbef;
  position: relative;
  width: 100%;
  height: 125px;
  z-index: 0;
}

.category-banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.category-banner .left-part {
  max-width: 600px;
  width: 100%;
  margin: 0 10px 0 0;
}

.category-banner .left-part .breadcrumbs li {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
}

.category-banner .left-part .breadcrumbs li:not(:last-child)::after {
  color: #4a4a4a;
  content: "/\00a0";
  display: block;
}

.category-banner .left-part .breadcrumbs li:last-child {
  font-weight: 700;
}
.category-banner .left-part .breadcrumbs li a {
  display: block;
  color: #4a4a4a;
  font-size: 16px;
  text-decoration: none;
}

.category-banner .left-part h3 {
  color: #181818;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px;
}

#content-area {
  width: 100%;
  display: block;
}

.category-page .tab-courselisting {
  padding-top: 30px;
}

.category-page .course-listing {
  display: block;
  min-height: 80vh;
  position: relative;
}

.category-page .course-listing .list-item {
  display: flex;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 5%);
  overflow: hidden;
}

.category-page .course-listing .list-item {
  display: flex;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 5%);
  overflow: hidden;
}

.category-page .course-listing .list-item .course-img {
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.category-page .course-listing .list-item .item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  margin: 0;
}

.category-page .course-listing .list-item .course-details {
  max-width: 500px;
  width: 100%;
  margin: 0;
}

.category-page .course-listing .list-item .course-details .title {
  display: block;
  color: #2e2e2e;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.2;
  cursor: pointer;
}

.category-page .course-listing .list-item .course-details .title span {
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.2;
}

.category-page
  .course-listing
  .list-item
  .course-details
  .title
  + .description {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.category-page .course-listing .list-item .course-details p {
  color: #51596c;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.course-highlights {
  width: 50%;
  display: -webkit-inline-box;
  grid-template-columns: auto auto auto auto;
}

.course-highlights i {
  font-size: 14px;
  margin: 0;
  color: #6a6f73;
}

.course-highlights span {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 0 5px;
}

.course-highlights > div {
  display: flex;
  align-items: center;
  line-height: 1;
  margin: 0;
}

.category-page .course-listing .list-item .review-block {
  max-width: 200px;
  width: 100%;
  margin: 0 0 0 15px;
}

.category-page .course-listing .list-item .review-block .rating-block {
  float: right;
  margin-bottom: 15px;
}

.category-page
  .course-listing
  .list-item
  .review-block
  .rating-block
  .stars-group {
  display: flex;
  align-items: center;
  margin: 0 0 2px 0;
}

.category-page
  .course-listing
  .list-item
  .review-block
  .rating-block
  .stars-group
  span {
  color: #1f2430;
  font-weight: 600;
  margin-right: 3px;
}

/*============ Course Detail ==============*/

.product-banner {
  background: #fffbef;
  position: relative;
  width: 100%;
  height: 200px;
  z-index: 0;
}

.product-banner .container {
  padding: 17px 15px 30px;
}

.product-banner .product-details {
  display: flex;
  max-width: 60%;
}

.product-banner .product-details .course-img {
  position: relative;
  max-width: 270px;
  width: 100%;
  height: 100%;
  margin: 0 20px 0 0;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

.product-banner .course-content .title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product-banner .course-content .course-highlights {
  width: 70%;
}

.product-banner .course-content .review-block {
  max-width: 300px;
  display: flex;
  width: 100%;
  margin: 0 0 10px 0;
}

.product-banner .course-content .review-block .rating-block {
  margin-bottom: 15px;
}

.product-banner .course-content .review-block .stars-group {
  display: flex;
  align-items: center;
  margin: 0 5px 0 0;
}

.product-banner .course-content .review-block .stars-group span {
  color: #1f2430;
  font-weight: 600;
  margin-right: 3px;
}

.product-page .two-column {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-new-prod {
  width: 70%;
  margin-right: 0px;
  margin-left: 0px;
}

.product-page .right-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(calc(100% - 50px));
}

.course-benefit {
  margin-bottom: 30px;
}

.course-benefit,
.course-included h2 {
  margin-bottom: 20px;
}

.benefit-group {
  margin-top: 5px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
}

.benefit-group .benefit-item {
  margin: 0 0 10px;
  width: 100%;
  max-width: calc(50% - 10px);
}

.course-included,
.course-requirement {
  padding: 30px 0 30px;
}

.course-included .content_wrapper {
  background: #eaeaea;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 5%);
  overflow-y: auto;
  max-height: 400px;
}

.course-included .content_wrapper .section-item {
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
}

.course-included .content_wrapper .section-item .section-title {
  border-radius: 0;
  background-color: #fff;
  justify-content: flex-start;
  font-size: 18px;
  /* border-bottom: 1px solid rgba(186, 186, 186, 0.7); */
}

.course-included .content_wrapper .section-item i {
  font-size: 12px;
}

.course-included .content_wrapper .section-item .lecture-table .lecture-item {
  justify-content: flex-start;
  color: #888888;
  border-top: 1px solid rgba(186, 186, 186, 0.7);
}

.product-page ul {
  margin: 0 0 10px 0;
}

.product-page ul li {
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}
.course-requirement i {
  font-size: 5px;
  margin-right: 10px;
}

.buy-box .head-txt {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #1f2430;
  margin: 0 0 10px 0;
}

.buy-box {
  background: #fff;
  width: 350px;
  height: max-content;
  padding: 15px 15px 15px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(203 214 226);
}

.buy-box i {
  font-size: 14px;
  width: 1.6rem;
  text-align: center;
  margin-right: 5px;
}

.buy-box .access-course {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.buy-box .access-course .btn-cus {
  background-color: #ffb800;
}

.buy-box .access-course .btn-cus:hover {
  background-color: #c48d00;
}

/*============ Course Detail ==============*/
.banner-small {
  background: linear-gradient(90deg, #fffbef, #fff3d0);
}

.banner-small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 103px;
  padding: 15px 0;
}

.banner-small .title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.video-page .page-content {
  padding-bottom: 60px;
  /* height: 85vh; */
}
.video-page .page-content .container {
  padding-top: 40px;
  background-color: #e6e6e6;
}
.video-page .page-content .video-section {
  display: flex;
  min-height: 600px;
  border-radius: 10px;
  background-color: #fff;
}

.video-page .page-content .video-section .left {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  max-width: calc(100% - 410px);
  width: 100%;
  border-right: 1px solid #d9d9d9;
}

.video-page .page-content .video-section .left.video-block {
  flex: 1 1;
  /* margin: 0; */
  padding: 2px;
}

.video-page .page-content .video-section .left .title {
  padding: 5px 10px;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #d9d9d9;
}

.video-page .page-content .video-section .right {
  position: relative;
  max-width: 415px;
  width: 100%;
  padding: 15px 10px 0;
  margin: 2px;
  background-color: #e6e6e6;
  border-radius: 0 8px 8px 0;
}

.player-component {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  font-size: 14px;
}

.player-component:hover .video-control {
  opacity: 1;
}

.video-page .page-content .video-section .left video {
  width: 100%;
  height: 100%;
}

/* .overlay-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
} */

.video-control {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10%;
  display: flex;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 0.2s;
}

.video-control-1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-control .progress-slider {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.video-control .progress {
  height: 2px;
  width: 100%;
}
.video-control .progress:hover {
  height: 10px;
}

.video-control .control {
  height: 70%;
  width: 100%;
  padding: 0 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-display {
  position: relative;
  margin: 0 0.2rem;
  color: #f7f9fa;
  display: inline;
}

.setting .setting-volume,
.setting-caption,
.setting-general {
  display: inline;
}

.setting-volume {
  position: relative;
  margin: 0 0.2rem;
}

.volume-slide {
  display: none !important;
  position: absolute;
  right: 5px;
  bottom: 100%;
  left: 5px;
  height: 7.2rem;
  background-color: #000;
}

.volume-track {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 50%;
  width: 4px;
  transform: translateX(-50%);
  background-color: #3e3e3e;
}
.volume-input {
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-appearance: slider-vertical;
  cursor: pointer;
}

.volume-fill,
.volume-input {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.caption-slide,
.setting-slide {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 100%;
}

.caption-content {
  opacity: 0;
  animation: popper-module--pop-in--1Pg2a 100ms cubic-bezier(0.2, 0, 0.38, 0.9)
    forwards;
  color: #f7f9fa;
}

.setting-content {
  opacity: 1;
  animation: popper-module--pop-in--1Pg2a 100ms cubic-bezier(0.2, 0, 0.38, 0.9)
    forwards;
  color: #f7f9fa;
}

.caption-dropdown,
.setting-dropdown {
  background: #1c1d1f;
  border-color: #3e4143;
  border: 1px solid #d1d7dc;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  overflow: auto;
}

.caption-list,
.setting-list {
  min-width: 14rem;
  padding: 0.8rem 0 !important;
  list-style: none;
  margin: 0;
  max-width: none;
}

.player-component li {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  text-align: left;
  letter-spacing: normal;
  color: #fff;
  padding: 0 1.5rem;
  outline-offset: -0.4rem !important;
  position: relative;
  white-space: nowrap;
  font-size: 16px;
}

li[role="menuitemradio"][aria-checked="true"]:after {
  border-radius: 50%;
  display: block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: #a435f0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.2rem;
}

li[role="separator"] {
  border-color: #3e4143;
  border-top: 1px solid #d1d7dc;
  margin: 0.8rem 0;
}
