.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.root_loader {
  text-align: center;
  margin-top: 200px;
}

.text-logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}

.text-logo:hover {
  color: #ffb800;
}

.text-yellow-dark {
  color: #c48d00
}

.text-yellow {
  color: #ffb800;
}

.text-black-custom {
  color: #1f2430;
}

.text-white {
  color: #fff;
}

.text-light-black {
  color: #1f2430;
}
#wrapper {
  width: 100%;
  margin-top: 90px;
  font-family: "Inria Sans";
  font-size: 16px;
}

input[type="text"] {
  border: none;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #d9d9d9;
}

label {
  display: block;
}

input[type="text"]:focus {
  border-bottom: 1px solid #fbd0bc !important;
  outline: none;
}

input[type="file"] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.btn {
  background-image: none;
  box-shadow: none;
  font-weight: bold;
  border: none !important;
  text-shadow: none;
  padding: 0.7em 1em;
  font-size: 1em;
  transition: 0.2s;
}
.btn-mini {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 0px !important;
}
.btn-mini:hover {
  color:#ffb800;
  font-weight: 700;
}

.icon-normal {
  padding: 10px ;
  cursor: pointer;
  font-size: 14px;
}